div{
    width: 75%;
    margin: auto;
}
p{
    color: rgb(61, 9, 252);
    background-color: cyan;
    border: 2px solid blue;
}
html{
    background-image: url(image/clasik.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}ul{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: yellow;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

li{
    color: darkturquoise;
}
ul li{
    color: chartreuse;
    background: blue;
    display: block;
    border: 1px greenyellow;
    float: left;
    padding: 10px;
    position: relative;
    text-decoration: none;
}

ul li a{
    color: darkorange;
}

ul li:hover{
    background: red;
    cursor: pointer;
}
h1{
    color:aqua;
    border: 2px dashed red;
    position: sticky;
    top: 15px;
}

h2{
    color:rgb(250, 9, 9);
}
legend{
    color: rgb(252, 65, 9);
}
label{
    color: lime;
}
table{
    color: darkturquoise;
}

img{
    border: 7px solid rgb(255, 0, 255) ;
   
}

#huruf{
    font-family: Arial, Helvetica, sans-serif;
}

.warna{
    color: aqua;
}

#ukuran{
    font-size: 25px;
}

.model{
    font-weight: bold;
}